Source: roswell
Section: lisp
Priority: optional
Maintainer: Masatoshi SANO <snmsts@gmail.com>
Build-Depends: debhelper (>= 11), bash-completion, libcurl4-openssl-dev
Standards-Version: 4.6.0.1
Homepage: https://roswell.github.io/
Vcs-Browser: https://github.com/roswell/roswell
Vcs-Git: https://github.com/roswell/roswell.git

Package: roswell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bzip2 , make, libc6 (>= 2.33), libcurl4 (>= 7.16.2)
Description: Common Lisp environment setup Utility.
 Roswell is a Lisp implementation installer/manager, launcher, and much more!
 Roswell started out as a command-line tool with the aim to make installing and managing Common Lisp implementations really simple and easy.
